
#bar {
	background-color: red;
	border: 2px solid black
	/*display: block*/
	height: 100px;
}

#content {
	display: block;
	padding-top: 145px;
}

#microphone_img {
	width: 17px;
	height: 23px;
	position: absolute;
	margin-top: 3px;
	margin-left: 262px;
}

div {
	text-align: center;
}

#google_img {
	height: 95px;
	width: 270px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input {
	background-color: #fff;
	border: 1px solid rgb(185,185,185);
	border-radius: 1px;
	cursor: text;

	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;

	text-indent: 8px;

	font: 18px arial, sans-serif;
	height: 27px;
	width: 570px;
}

input:hover {
	border-color: rgb(160,160,160);
}

.button {
	color: #444;
	background-color: #f5f5f5;
	text-align: center;
	display: inline-block;

	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;

	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;

	line-height: 32px;

	max-width: 110px;
	max-height: 29px;

	margin-left: 6px;
	margin-right: 6px;
}